body div img a { margin: 0; }
.jq22-container { margin-top: 50px; }
#div1 { margin: auto; position: relative; }
.box { float: left; padding: 10px; border: 1px solid #ccc; background: #f7f7f7; box-shadow: 5px 5px 8px #ccc; }
.box:hover { box-shadow: 7px 7px 12px #8a8a8a; }
.box img { width: 240px; }
.none {
	margin: 30px auto;
	font-family: "Microsoft YaHei";
	width: 85%;
	border: 1px solid #a5a9a7;
	height: 30px;
	text-align: center;
	color: rgba(0, 0, 0, 0.69);
	line-height: 30px;
	font-size: 12px;
	box-shadow: 3px 3px 10px;
	font-weight: 500;
	background-color: rgba(248, 250, 255, 0);
	border-radius: 5px;
}